<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur incidunt perspiciatis blanditiis? Deleniti quo aliquid totam quis voluptatem repellat ab maiores numquam. Quidem similique explicabo suscipit sed rerum mollitia non corrupti expedita tempora soluta!</p>
    
</body>
</html>